.profile-container {
    padding: 10px;
    margin: auto;
  }
  
  .profilePicture {
    margin: 1000px;
  }
  
  .button-container {
    margin: 1000px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }
  
  .profile-settings {
    margin: 1000px;
    margin-top: auto; 
    text-align: right; 
  }
  