.profile-container {
  display: flex;
  justify-content: space-between; /* Align items left and right */
  align-items: flex-start; 
  padding: 20px;
}

#profilePic{
 width: 100px;
}
.left-part {
  display: flex;
  flex-direction: column; /* Stack image and buttons vertically */
  flex-wrap: wrap;
}

.profile-picture img {
  width: 150px; 
  height: auto;
  margin: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.popup-button {
  background-color: transparent;
  color: #007BFF;
  cursor: pointer;
  font-size: 30px;
}

.popup-button:hover {
  background-color: #007BFF;
  color: white;
}

.profile-settings {
  align-self: flex-start; 
  text-align: right;
  padding: 10px;
}
